.banner-container {
  height: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background: url("../../../../images/banner.jpg") 0 30%;
  background-size: cover;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
  color: white;
  transition: ease-in-out 0.3s;
  h3 {
    text-transform: uppercase;
  }
  p {
    text-align: left;
    margin: 10px 0;
    font-size: 20px;
  }
  a {
    text-align: center;
    width: 120px;
    padding: 10px;
    text-transform: uppercase;
    background-color: rgb(183, 193, 18);
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }

  span {
    color: rgb(183, 193, 18);
    font-weight: 900;
  }
  @media only screen and (max-width: 768px) {
    align-items: center;
    span {
      color: white;
    }

    p,
    span,
    a {
      text-align: center;
      font-size: 16px;
    }
  }
  &:hover {
    transform: scale(1.01);
  }
}
