.menu-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  grid-gap: 15px;
  justify-content: space-between;
  margin: 20px 0;
  @media (max-width: 374px) {
    justify-content: center;
  }
}
