.modal-box {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 75vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 24;
  @media (max-width: 426px) {
    width: 90vw;
    height: 85vh;
  }
  .text-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
    @media (max-width: 426px) {
      margin: 0 10px 10px 10px;
    }
  }

  h3 {
    font-size: 25px;
    text-align: center;
    margin: 5px;
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
    position: relative;
    top: 0;
  }

  .description p {
    text-align: justify;
    font-size: 14px;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  .bottom-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      font-size: 35px;
      cursor: pointer;
      color: rgb(183, 193, 18);
      transition: ease-in-out 0.3s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .price-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    @media (max-width: 768px) {
      font-size: 20px;
    }
    @media (max-width: 375px) {
      font-size: 18px;
    }
  }

  button {
    text-align: center;
    width: 7em;
    height: 2.5em;
    border: none;
    margin: 0 20px;
    text-transform: uppercase;
    background-color: rgb(183, 193, 18);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
    @media (max-width: 768px) {
      margin: 10px;
    }
    @media (max-width: 375px) {
      font-size: 12px;
    }
  }
}
