.geckos {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @media (max-width: 426px) {
    justify-content: center;
  }
  h2 {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    @media (max-width: 426px) {
      font-size: 30px;
      padding: 10px;
    }
  }
}

.geckos-container {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  grid-gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  @media (max-width: 768px) {
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 340px);
  }
  @media (max-width: 426px) {
    grid-template-columns: repeat(auto-fill, 300px);
  }
}
