.informations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  min-height: 100vh;
  width: 100vw;
  h2 {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    @media (max-width: 426px) {
      font-size: 30px;
      padding: 10px;
    }
  }
}

.info-accordion {
  width: 80%;
  margin: 30px;
  @media (max-width: 426px) {
    width: 100%;
    margin: 10px 0;
  }

  .acc-summary p {
    font-size: 20px;
    font-weight: 900;
    @media (max-width: 426px) {
      font-size: 16px;
    }
  }
  .acc-details p {
    text-align: justify;
  }

  svg {
    font-size: 40px;
  }
}

.info-img-box {
  text-align: center;
  width: 100%;
  img {
    width: 80%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
    @media (max-width: 426px) {
      width: 90%;
      height: 20%;
    }
  }
  p {
    font-size: 16px;
    @media (max-width: 426px) {
      padding: 0 10px;
      font-size: 10px;
    }
  }
}
