.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
  @media only screen and (max-width: 425px) {
    padding: 5px;
  }
}

ul {
  display: flex;
  @media only screen and (max-width: 768px) {
    justify-content: center;
    flex-wrap: wrap;
  }
  li {
    text-transform: uppercase;
    margin: 10px;
    font-weight: 600;
    cursor: pointer;
    @media only screen and (max-width: 768px) {
      margin: 5px;
    }
  }

  a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(183, 193, 18);
    @media only screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}

.logo {
  min-height: 45px;
  height: 45px;
  cursor: pointer;
}

.profile-container {
  display: flex;
  align-items: center;

  .img-box {
    width: 45px;
    height: 45px;
    min-width: 45px;
    border-radius: 100%;
    background-color: rgb(183, 193, 18);
    align-items: center;
    justify-content: center;
  }

  .user-name {
    font-size: 16px;
    margin-left: 8px;
    font-weight: 500;
    display: none;
    align-items: flex-end;
  }
}

.toggle-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  .toggle-icon {
    display: none;
    font-size: 30px;
    @media only screen and (max-width: 768px) {
      display: inline;
    }
  }
  a {
    color: rgb(183, 193, 18);
    margin: 5px;
    transition: ease 0.4s;
    &:hover {
      transform: scale(1.2);
    }
  }
  svg {
    font-size: 30px;
  }
}
