svg {
  color: rgb(183, 193, 18);
}

.box-container {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.list-container {
  color: white;
  text-transform: uppercase;
  background-image: linear-gradient(
    180deg,
    rgb(170, 182, 126),
    rgb(63, 65, 59)
  );
}

.arrow-button {
  display: flex;
  justify-content: center;
  width: 100%;
  transform: rotate(90deg);
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

hr {
  color: black;
  width: 90%;
  height: 4px;
}
