.footer-contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5px;
  width: 600px;
  transition: ease 0.3s;
  @media only screen and (max-width: 600px) {
    width: 475px;
  }
  @media only screen and (max-width: 475px) {
    flex-direction: column;
    width: 300px;
  }
  form {
    text-align: center;
    width: 100%;
  }
}

input {
  width: 100%;
  font-size: 25px;
  margin: 5px 0;
  padding: 10px;
  border-radius: 6px;
  @media only screen and (max-width: 475px) {
    padding: 6px;
    font-size: 14px;
  }
}
textarea {
  font-size: 25px;
  height: 6em;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 6px;
  @media only screen and (max-width: 475px) {
    padding: 6px;
    font-size: 14px;
  }
}

.submit-input {
  text-align: center;
  width: 200px;
  text-transform: uppercase;
  background-color: rgb(183, 193, 18);
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  &:hover {
    transform: scale(105%);
  }
}

div[role="alert"] {
  color: red;
  margin-top: 1em;
}

.message-chars-left {
  width: 100%;
  margin: auto;
  text-align: left;
}

p {
  text-align: center;
}
