.footer-info-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: auto;
}

.footer-info-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin: 5px 0;
  svg {
    font-size: 50px;
    color: rgb(183, 193, 18);
    margin-right: 10px;
  }
  p {
    font-size: 20px;
  }
  @media only screen and (max-width: 475px) {
    svg {
      font-size: 30px;
    }
    p {
      font-size: 20px;
    }
  }
}
