.item-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 160px;
  height: 220px;
  padding: 10px 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.3s;
  @media (max-width: 426px) {
    margin: 10px 0;
  }

  .item-img-box {
    display: flex;
    justify-content: center;
    width: 140px;
    height: 80px;
    img {
      border-radius: 10px;
      box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
      width: 100%;
      object-fit: cover;
    }
  }
  .price-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  button {
    text-align: center;
    width: 80px;
    height: 2em;
    border: none;
    text-transform: uppercase;
    background-color: rgb(183, 193, 18);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }

  h3 {
    padding: 0 10px;
    font-size: 16px;
    text-align: center;
  }

  svg {
    background-color: rgb(183, 193, 18);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 25px;
    border-radius: 50%;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.modal-box {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 75vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: white;
  border-radius: 30px;
  box-shadow: 24;
  @media (max-width: 426px) {
    width: 90vw;
    height: 85vh;
  }
  .text-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
    @media (max-width: 426px) {
      margin: 0 10px 10px 10px;
    }
  }

  h3 {
    font-size: 30px;
    text-align: center;
    margin: 5px;
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
    position: relative;
    top: 0;
  }

  .description p {
    text-align: justify;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  .bottom-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      font-size: 35px;
      cursor: pointer;
      color: rgb(183, 193, 18);
      transition: ease-in-out 0.3s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .price-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    @media (max-width: 768px) {
      font-size: 20px;
    }
    @media (max-width: 375px) {
      font-size: 18px;
    }
  }

  button {
    text-align: center;
    width: 7em;
    height: 2.5em;
    border: none;
    margin: 0 20px;
    text-transform: uppercase;
    background-color: rgb(183, 193, 18);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
    @media (max-width: 768px) {
      margin: 10px;
    }
    @media (max-width: 375px) {
      font-size: 12px;
    }
  }
}
