.store {
  display: flex;
  justify-content: space-around;
  height: auto;
  width: 100%;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: auto;
  padding: 20px;
  @media only screen and (max-width: 1024px) {
    width: 65%;
  }
  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: 10px;
  }
}
